
Terms of Use

Effective date: [Date]

Please read these Terms of Use carefully before using PlayBot Arbitrage (the "App") operated by Grands Rois Verified Properties Within Ltd currently in its preincoperation to ensure more features are avaliable for public use, we are currently testing the private use and gaming experience of the app("us", "we", or "our").

By using the App, you agree to be bound by these Terms of Use. If you do not agree to these Terms of Use, please do not use the App.

License:
Subject to these Terms of Use, we grant you a limited, non-exclusive, non-transferable, and revocable license to use the App for your personal, non-commercial use. You may not modify, reproduce, distribute, create derivative works, or exploit the App in any unauthorized way.

Content:
The App may contain content provided by third parties, including strategies and educational materials. We do not endorse or guarantee the accuracy, completeness, or reliability of any third-party content.

Intellectual Property:
The App and its original content, features, and functionality are owned by [Your Company Name] and are protected by international copyright, trademark, patent, trade secret, and other intellectual property laws.

Disclaimer:
The App is provided on an "as is" and "as available" basis, without warranties of any kind, whether express or implied. We do not warrant that the App will be error-free or uninterrupted, nor do we make any guarantees regarding the accuracy or reliability of any information provided through the App.

Limitation of Liability:
In no event shall we be liable for any indirect, incidental, special, consequential, or punitive damages arising out of or in connection with your use of the App.

Changes to Terms of Use:
We may revise these Terms of Use from time to time. The revised terms will be effective upon posting on this page. By continuing to use the App after any revisions, you agree to be bound by the updated Terms of Use.

Governing Law:
These Terms of Use shall be governed by and construed in accordance with the laws of Hong Kong & Nigeria, without regard to its conflict of law provisions.

Contact Us:
If you have any questions or concerns about these Terms of Use, please contact us at bglc.installationservices@gmail.com.
